<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="default" connectionString="server=localhost;user id=root;password=!QAZ2wsx3edc;database=h2f;pooling=true;Min Pool Size=0;Max Pool Size=512;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>